@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto+Condensed:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.quizContainer {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    width: 500px;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}

#answersBox {
    padding: .5rem 2rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    line-height: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: .5rem 0;
}

ul li label {
    cursor: pointer;
    color: #0c4083;
    font-size: 1.3rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    color: #0c4083;
}

button {
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: .5rem;
    color: #83EAF1;
    display: block;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}

button:hover {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    color: #2157a3;
}

button:focus {
    outline: none;
}